.resume {
  font-family: "Noto Sans KR", sans-serif;
  margin: 10px 50px 50px 50px;
  padding-bottom: 50px;
  box-shadow: 0 6px 9px 3px rgba(0, 0, 0, 0.1);
  max-width: 1275px;
  @include responsive("max") {
    max-width: 1400px;
    margin: 50px auto;
    width: 80%;
  }
  @include responsive("tablet") {
    padding-bottom: 30px;
    margin-top: 50px;
  }
  @include responsive("mobile") {
    padding-bottom: 25px;
    margin: 50px 0px;
  }
  @include responsive("web01") {
    padding-bottom: 30px;
    margin: 40px;
    margin-top: 50px;
  }
  .resume__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #bedcf4;
    padding: 50px;
    @include responsive("mobNtab") {
      flex-direction: column;
      padding: 30px;
    }
    @include responsive("mobile") {
      padding: 30px 0px 0px 0px;
    }
    @include responsive("max") {
      padding: 50px 70px;
    }
    .title__column {
      display: flex;
      @include responsive("mobNtab") {
        div {
          width: 100%;
        }
      }
      @include responsive("mobile") {
        &:last-child {
          display: block;
        }
      }
      .name {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 2.5px;
        font-weight: 500;
        span {
          font-size: 1.5rem;
        }
        @include responsive("mobNtab") {
          padding-bottom: 30px;
          font-size: 1.65rem;
          span {
            font-size: 1.1rem;
          }
        }
        @include responsive("mobile") {
          align-items: center;
        }
        @include responsive("web01") {
          font-size: 2rem;
          span {
            font-size: 1.3rem;
          }
        }
      }
      .contact__wrapper {
        display: flex;
        align-items: center;
        .contact {
          padding-right: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 0.7rem;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          @include responsive("mobile") {
            padding-right: 0px;
            border: none;
            div {
              justify-content: center;
            }
          }
          div {
            padding: 3px 0px;
            display: flex;
          }
          .address {
            display: flex;
          }
          i {
            display: flex;
            align-items: center;
            padding: 1px;
            padding-right: 10px;
            font-size: 0.9rem;
          }
        }
      }
    }
    .selfie {
      display: flex;
      justify-content: center;
      padding-left: 30px;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        @include responsive("mobNtab") {
          width: 90px;
          height: 90px;
        }
        @include responsive("web01") {
          width: 100px;
          height: 100px;
        }
      }
      @include responsive("mobile") {
        padding: 30px 0px;
      }
    }
  }
  .resume__row {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    padding: 30px 50px;
    gap: 80px;
    @include responsive("web01") {
      grid-template-columns: 1fr 1fr;
    }
    @include responsive("mobNtab") {
      grid-template-columns: 1fr;
      padding: 40px 30px;
    }
    @include responsive("max") {
      padding: 30px 70px;
    }
    .section {
      .sec__title {
        @include main-font;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 5px 0px;
        padding-bottom: 10px;
        @include responsive("web01") {
          font-size: 1.3rem;
        }
        @include responsive("mobNtab") {
          font-size: 1.1rem;
        }
      }
    }
    @include resume;
    .profile {
      .sec__desc {
        padding-top: 10px;
        line-height: 1.5rem;
        font-size: 0.9rem;
      }
    }
    .edu {
      .edu__desc {
        padding: 10px 0px;
        .location {
          font-size: 0.7rem;
        }
      }
    }
    .skill {
      .sec__desc {
        padding-top: 10px;
      }
      .skill__group {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        @include responsive("mobNtab") {
          flex-wrap: wrap;
        }
      }
      .skill__wrapper {
        display: flex;
        justify-content: space-between;
      }
      .skill__item {
        align-items: center;
        .skill__icon {
          min-width: 70px;
          padding: 5px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 30px;
            margin: 5px;
          }
          .icon__title {
            @include main-font;
            font-size: 0.6rem;
            letter-spacing: 1px;
            justify-content: center;
            margin-top: 5px;
          }
        }
      }
      .award {
        padding: 0px 10px;
        display: flex;
        align-items: center;
        position: relative;
        img {
          width: 30px;
          cursor: pointer;
        }

        &:hover {
          .nomad {
            opacity: 1;
          }
        }
        .nomad {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          position: absolute;
          width: 80px;
          top: -35px;
          left: 0px;
          font-size: 0.5rem;
          text-align: center;
          padding: 5px;
          padding-bottom: 12px;
          background: no-repeat center url("../../images/intro/bubble.png");
          background-size: 80px 45px;
        }
      }
    }
    .experience {
      .exp__desc {
        padding: 10px 0px;
        line-height: 1.5rem;
        font-size: 0.9rem;
        .exp__date {
          font-size: 0.8rem;
          align-items: end;
          justify-items: center;
        }
        ul {
          display: flex;
          flex-direction: column;
          list-style: square inside;
          line-height: 1.5rem;
        }
      }
    }
    .certificates {
      .certi__desc {
        padding: 10px 0px;

        .certi__date {
          font-size: 0.8rem;
        }
      }
    }
    .training {
      .training_desc {
        padding: 10px 0px;
      }
      .training__date {
        font-size: 0.8rem;
      }
    }
  }
}
