.materials {
  padding: 40px 50px;
  @include responsive("mobNtab") {
    padding: 40px 0px;
  }
  @include responsive("web01") {
    padding: 50px 0px;
  }
  @include responsive("max") {
    padding: 40px 140px;
  }
  .section {
    @include main-font;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // &:nth-child(even) {
    //   .sec__info {
    //     order: 1;
    //   }
    //   grid-template-columns: 2fr 1fr;
    // }
    @include responsive("mobToMat") {
      grid-template-rows: 0.6fr 1fr;
      grid-template-columns: 1fr;
    }
    @include responsive("mobile") {
      grid-template-rows: 0.3fr 1fr;
    }
    .sec__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      border-bottom: 1px solid rgb(255, 255, 255);
      .sec__title {
        font-size: 1.4rem;
        padding-bottom: 30px;
        @include responsive("mobNtab") {
          font-size: 1.1rem;
        }
      }
      .sec__desc {
        width: 60%;
        letter-spacing: 1px;
        line-height: 1.4rem;
        text-align: center;
        word-break: keep-all;
        word-wrap: break-word;
        font-size: 0.9rem;
        @include responsive("mobNtab") {
          font-size: 0.8rem;
        }
      }
    }
    .sec__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 0px;
      border: 1px solid $blue;
      border-top: none;
      align-items: center;
      .card {
        padding: 25px;
        @include responsive("mobNtab") {
          padding: 20px;
        }
        .card__content {
          padding: 20px 10px 0px 10px;
          max-width: 155px;
          text-align: center;
          cursor: pointer;
          border: 1px solid darken(white, 4%);
          box-shadow: 0px 2px 0 darken(white, 5%), 2px 4px 6px darken(white, 2%);
          font-weight: 900;
          letter-spacing: 1px;
          transition: all 150ms linear;
          &:hover {
            background: darken(white, 1.5%);
            border: 1px solid rgba(#000, 0.05);
            box-shadow: 1px 1px 2px rgba(#fff, 0.2);
            color: lighten(black, 18%);
            text-decoration: none;
            text-shadow: -2px -2px 0 darken(white, 9.5%);
            transition: all 250ms linear;
          }
          @include responsive("mobNtab") {
            max-width: 150px;
          }
          .card__img {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            img {
              width: 60%;
            }
          }
          .card__title {
            padding: 10px;
            letter-spacing: 0.5px;
            height: 2.5rem;
          }
        }
      }
    }
    .plan,
    .manual {
      .card {
        padding: 25px 0px;
      }
      .equal {
        font-size: 2.2rem;
        padding: 15px;
        padding-right: 11px;
      }
    }
  }
  .test {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    @include responsive("mobToMat") {
      grid-template-rows: 0.3fr 0.6fr 1fr;
      grid-template-columns: 1fr;
    }
    .sec__info {
      background-color: rgba(1, 54, 106, 0.575);
      color: white;
      border: none;
    }
    .sec__content {
      border: 1px solid rgba(1, 54, 106, 0.575);
    }
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px;
      content: "\f078";
      grid-column: span 2;
      @include responsive("mobToMat") {
        grid-column: span 1;
      }
    }
  }
}
